* {
    margin: 10px;
    vertical-align: top;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 10px;
     /*overflow: hidden;
	height: auto;*/
}

#container {
    background-color: rgb(242, 243, 242);
    width: 970px;
    height: 1000px;
    color: rgb(63, 15, 236);
    font-size: 45px;
    font-weight: bold;
    }

#caja {
    float: right;
    background-color: rgba(10, 216, 206, 0.678);
    color: black;
    font-size: 20px;
    height: 350px;
    width: 500px;
}

#box-1 {
    background-color: rgb(248, 198, 198);
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 300px;
    padding: 20px;
}

#box-2 {
    float: right;
    background-color: rgb(15, 15, 15);
    font-size: 14px;
    height: 300px;
    width: 200px;
    margin: 10px;
}

#box-3 {
    float: left;
    background-color: rgb(103, 217, 252);
    font-size: 12px;
    color: rgb(36, 138, 233);
    height: 300px;
    width: 200px;
    margin: 10px;
}

#navigation {
    float: right;
    min-height: 60px;
    width: 900px;
    background-color: grey;
    padding: 10px;
}